<div class="add-variant-wrapper product-add-container">
    <div class="avw-header flex">
        <div class="avwh-lft flex">
            <ng-container >
                <div class="avwhl-img"> <img src="assets/img/product-img2.png" alt="" > </div>
            </ng-container>
            <div class="avwhl-content">
                <h3>Doll
                </h3>
                <h4>Sku233</h4>
                <p>22333 </p>
            </div>
        </div>
        <h2>Variants in this product 
            <span>: 10</span></h2>
    </div>

    <div class="categories-heading">
        <h4>Available Categories</h4>
        <p>Click here to add additional variants for your product. Choose from existing options such as colours, sizes, or styles by selecting from the dropdown menus provided below.</p>
    </div>


    <div class="choose-variants flexx">
        <p>Choose Variants</p>
        <div class="novariants-row">
            <div class="input-group">
                <div class="ig-row">
                   
                </div>
            </div>

            <button class="button-reg btn-sm primary"
                > +Add variant </button>
        </div>
    </div>

</div>